<div class="filters-bar" x-data="filterBar()">
    <div class="filter-group">
        <label>Ciclo</label>
        <select class="input select" x-model="selectedCiclo" @change="applyFilters()">
            <option value="">Todos</option>
            <template x-for="ciclo in $store.filters.ciclos" :key="ciclo">
                <option :value="ciclo" x-text="ciclo"></option>
            </template>
        </select>
    </div>

    <div class="filter-group">
        <label>Setor</label>
        <select class="input select" x-model="selectedSetor" @change="applyFilters()">
            <option value="">Todos</option>
            <template x-for="setor in $store.filters.setores" :key="setor">
                <option :value="setor" x-text="setor"></option>
            </template>
        </select>
    </div>

    <div class="filter-group" x-show="$store.filters.gerencias.length > 0">
        <label>Gerência</label>
        <select class="input select" x-model="selectedGerencia" @change="applyFilters()">
            <option value="">Todas</option>
            <template x-for="gerencia in $store.filters.gerencias" :key="gerencia">
                <option :value="gerencia" x-text="gerencia"></option>
            </template>
        </select>
    </div>

    <button class="btn btn-secondary btn-sm" @click="clearFilters()">
        <i data-lucide="x"></i>
        Limpar
    </button>
</div>

<script>
function filterBar() {
    return {
        selectedCiclo: '',
        selectedSetor: '',
        selectedGerencia: '',

        init() {
            // Load filters on init
            this.$store.filters.load();
        },

        applyFilters() {
            this.$store.filters.selectedCiclos = this.selectedCiclo ? [this.selectedCiclo] : [];
            this.$store.filters.selectedSetores = this.selectedSetor ? [this.selectedSetor] : [];
            this.$store.filters.selectedGerencias = this.selectedGerencia ? [this.selectedGerencia] : [];

            // Dispatch event for components to refresh
            window.dispatchEvent(new CustomEvent('filters-changed'));
        },

        clearFilters() {
            this.selectedCiclo = '';
            this.selectedSetor = '';
            this.selectedGerencia = '';
            this.applyFilters();
        }
    }
}
</script>
